.tk-content :not(pre) > code[class*="language-"],
.tk-content pre[class*="language-"] {
  border-radius: var(--border-radius);
}
.tk-action-count,
.tk-nick,
.tk-nick-link,
.tk-nick-link strong {
  color: var(--cover-bg) !important;
  font-size: var(--global-font-size);
}
.tk-action-icon svg {
  fill: var(--cover-bg) !important;
}
.tk-comments-container {
  min-height: 0 !important;
}
.tk-row {
  width: fit-content;
}
.tk-avatar {
  width: 3rem !important;
  height: 3rem !important;
  margin-top: 0.5rem;
}
.tk-avatar img {
  width: 3rem !important;
  height: 3rem !important;
  border-radius: var(--border-radius);
}
.tk-master .tk-avatar {
  position: relative;
  left: calc(100% - 3rem);
}
.tk-comment {
  margin-top: 0 !important;
}
.tk-content img {
  max-width: 100% !important;
}
.tk-content p,
.tk-content pre {
  margin: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.tk-content a:not([data-fancybox="gallery"]) {
  color: var(--second);
  border-bottom: solid 2px var(--second);
  padding: 0 0.2rem;
}
.tk-content a:not([data-fancybox="gallery"]):hover {
  color: var(--main);
  background: var(--second);
  border-radius: 4px;
}
.tk-master .tk-content a:not([data-fancybox="gallery"]) {
  color: var(--font-color);
  border-bottom: solid 2px var(--main);
  padding: 0 0.2rem;
}
.tk-master .tk-content a:not([data-fancybox="gallery"]):hover {
  color: var(--second);
  background: var(--main);
  border-radius: 4px;
}
.tk-comments-container > .tk-comment {
  border: var(--card-border);
  border-width: 2px;
  border-style: dashed;
  border-radius: var(--border-radius);
  padding: 0 0.5rem 0.5rem 0.5rem;
  font-size: 0.95rem;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  margin: 1rem 0;
}
.tk-comments-container > .tk-comment:hover {
  border-color: var(--main);
}
.tk-content {
  color: var(--second);
  background: var(--main);
  padding: 0.5rem 1rem;
  margin-top: 0 !important;
  border-radius: var(--border-radius);
  font-size: 95% !important;
  width: fit-content;
  max-width: calc(100% - 3rem);
  position: relative !important;
  overflow: visible !important;
  max-height: none !important;
}
.tk-replies {
  left: -4rem;
  width: calc(100% + 4rem);
}
.tk-master .tk-content {
  color: var(--font-color);
  background: var(--gjcloak-bg);
}
.tk-content::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 10px;
  left: -15px;
  border-top: 0 solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 0 solid transparent;
  border-right: 15px solid var(--main);
}
.tk-master .tk-content::before {
  left: 100%;
  border-left: 15px solid var(--global-bg);
  border-right: 0 solid transparent;
}
.tk-master .tk-content {
  margin: 0 4rem 0 auto;
}

.tk-master .tk-extras {
  margin: 0 3.5rem 0 auto;
  width: fit-content;
  position: relative;
}
.tk-master .tk-row {
  margin: 0 4rem 0 auto;
}
.tk-expand {
  width: 40% !important;
  margin: 0.5rem auto 0;
  background: var(--global-bg) !important;
  border-radius: var(--border-radius);
}
.tk-expand:hover {
  width: 60% !important;
}
#article-container .aplayer {
  border-radius: var(--border-radius) !important;
}
::-webkit-scrollbar-thumb {
  border-radius: var(--border-radius);
  background: var(--main);
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.4) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0.4) 75%,
    transparent 75%,
    transparent
  );
}
::-webkit-scrollbar-thumb:hover {
  background-image: none;
}
body {
  overflow-y: overlay !important;
}
body.hidden-y {
  overflow-y: hidden !important;
}
:root {
  --theme-color: #1677b3;
  --global-bg: #f2f6fc;
  --gjcloak-bg: #94d6da;
  --r: 22;
  --g: 119;
  --b: 179;
  --main: rgb(var(--r), var(--g), var(--b));
  --second: var(--white);
  --main-light: rgba(var(--r), var(--g), var(--b), 0.4);
  --cover-bg: rgb(var(--r), var(--g), var(--b));
  --main-light: rgba(var(--r), var(--g), var(--b), 0.4);
  --main-shadow: 0 2px 3px 1px rgba(var(--r), var(--g), var(--b), 0.2);
  --card-border: 1px solid var(--tab-botton-bg);
  --border-radius: 8px;
  --light-text: #ff7242;
  --default-cursor: url(https://npm.elemecdn.com/eurkon-cdn/hexo/images/user/default.cur);
  --pointer-cursor: url(https://npm.elemecdn.com/eurkon-cdn/hexo/images/user/pointer.cur);
}

.OwO .OwO-body,
.OwO .OwO-body .OwO-bar .OwO-packages li,
.OwO .OwO-body .OwO-items .OwO-item,
.tk-action-icon,
.tk-expand,
.tk-pagination-pager,
.tk-panel .tk-tab {
  cursor: var(--pointer-cursor), auto !important;
}